{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between" style="margin: 20px 0 20px 0">
    <h1>Domains</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDomainModal" style="font-size: 14px; padding: 5px 10px;">
      Add Domain
    </button>
</div>

<!-- Add Domain Modal -->
{% include 'traffic_distribution_system/domain/add_domain_modal.html' %}

<!-- Edit Domain Modal -->
{% include 'traffic_distribution_system/domain/edit_domain_modal.html' %}

{% if domains %}
    <table id="domainTable" class="display">
        <thead>
            <tr>
                <th>Domain Name</th>
                <th>Campaign</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for domain in domains %}
              <tr data-domain-id="{{ domain.id }}">
                <td data-label="Domain Name">{{ domain.name }}</td>
                <td data-label="Campaign">
                  {% if domain.campaign %}
                    {{ domain.campaign.name }}
                  {% else %}
                  {% endif %}
                    No campaign
                </td>
                <td data-label="Status" class="{% if domain.status == 'Connected' %}connected{% else %}notconnected{% endif %}">{{ domain.status }}</td>
                <td data-label="Check"><button class="btn btn-primary check-btn" data-domain-id="{{ domain.id }}">Check</button></td>
                <td data-label="Edit"><button class="btn btn-primary edit-btn" data-domain-id="{{ domain.id }}" data-domain-name="{{ domain.name }}" data-domain-campaign="{{ domain.campaign.id }}">Edit</button></td>
                <td data-label="Delete"><button class="btn btn-danger delete-btn" data-domain-id="{{ domain.id }}">Delete</button></td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Domains is empty</p>
{% endif %}
<script>
    var addDomainUrl = "{% url 'add_domain' %}";
    var checkDomainUrl = "{% url 'check_domain' %}";
    var editDomainUrl = "{% url 'edit_domain' %}";
    var deleteDomainUrl = "{% url 'delete_domain' %}";
    var getDomainUrl = "{% url 'get_domain' %}";
    var csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'js/domain_list.js' %}"></script>
{% endblock %}